-
  const headerNavList = [

        {
            title: 'О нас',
            url:  'about.html'
        },

        {
            title: 'Контакты',
            url:  'contacts.html'
        },

        {
            title: 'Доставка',
            url:  'delivery.html'
        },

        {
            title: 'Условия оплаты и возврата',
            url: '#'
        },

        {
            title: 'Политика конфиденциальности',
            url: '#'
        },

        {
            title: 'Новинки',
            url:  'catalog.html'
        },

        {
            title: 'Товары для малышей',
            url:  'catalog.html'
        },

        {
            title: 'Мальчики',
            url:  'catalog.html'
        },

        {
            title: 'Девочки',
            url:  'catalog.html'
        },

        {
            title: 'Обувь',
            url:  'catalog.html'
        },

        {
            title: 'Игрушки',
            url:  'catalog.html'
        },
    ]

-
  const actionList = [
      {
          url: '#',
          iconName: '#icon-search',
          iconWidth: '30px',
          iconHeight: '30px',
      },

      {
          url: '#',
          iconName: '#icon-user',
          iconWidth: '30px',
          iconHeight: '30px',
      },

      {
          url: '#',
          iconName: '#icon-heart',
          iconWidth: '30px',
          iconHeight: '30px',
      },

      {
          url: '#',
          iconName: '#icon-cart',
          iconWidth: '30px',
          iconHeight: '30px',
      }

  ]

header.header
  include ./header-components/crawl-line
  
  //.header__top
    .cmn__wrapper.header__top-wrapper
      .header__contacts
        .header__contacts-city
          svg(width="25px" height="25px")
            use(xlink:href="#icon-map")
          .header__contacts-city-container  
            span Ваш город:
            a(href="#") Санкт- Петербург

        .header__contacts-phone
          svg(width="25px" height="25px")
            use(xlink:href="#icon-phone")
          a(href="tel:+79999999999") +7 999 999 99 99 
      .header__info
        ul.header__nav
          each item in headerNavList
            li.header__nav-item
              a(href=item.url)= item.title
      
        ul.header__action
          each button in actionList
            li.header__action-item
              a(href=button.url)
                svg(width=button.iconWidth height=button.iconHeight)
                  use(xlink:href=button.iconName)

  //.header__main
    .cmn__wrapper.header__main-wrapper
      ul.header__nav
        each item in headerNavList
          li.header__nav-item
            a(href=item.url)= item.title
      
      ul.header__action
        each button in actionList
          li.header__action-item
            a(href=button.url)
              svg(width=button.iconWidth height=button.iconHeight)
                use(xlink:href=button.iconName)
        
  include ./nav